<div>
    <h1>Who Owes Who Authentication</h1>
    <p>Hi #fullname#</p>
    <p>We have received your request to log in to Who Owes Who. Please enter the code below.</p>
    <input type="text" value="#code#" style="width: 150px; height: 50px; font-size: 30px; color:cornflowerblue; text-align: center;" readonly />
    <br />
    <p>Have a great day</p>
    <img src="smiley-wow-sign-stock-image-blue-face-37519175.jpg" style="width: 36px; height: 36px" alt="Who Owes Who" />
    <h3>Who Owes Who</h3>
</div>