<div>
    <h1>Who Owes Who Membership</h1>
    <p>Hi #fullname#</p>
    <p>Thank you for signing in with Who Owes Who</p>
    <br />
    To activate your account please click on the link below:
    <br />
    <p>
        <a id="confirmationLink" href="https://#host#/account/verification?emailaddress=#encryptedemail#" target="_self">Confirm your account</a>
    </p>
    <br />
    <p>Have a great day</p>
    <img src="wow-logo-big.png" style="width: 36px; height: 36px" alt="Who Owes Who" />
    <h3>Who Owes Who</h3>
</div>